@charset "UTF-8";

@font-face {
  font-family: "Diam";
  src:url("diam.eot");
  src:url("diam.eot?#iefix") format("embedded-opentype"),
    url("diam.woff") format("woff"),
    url("diam.ttf") format("truetype"),
    url("diam.svg#diam") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "Diam" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.di {
  font-family: "Diam" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.di-add:before {
  content: "\61";
}
.di-arr-bot:before {
  content: "\62";
}
.di-arr-bot-r:before {
  content: "\63";
}
.di-arr-left:before {
  content: "\64";
}
.di-arr-left-r:before {
  content: "\65";
}
.di-arr-right:before {
  content: "\66";
}
.di-arr-right-r:before {
  content: "\67";
}
.di-arr-top:before {
  content: "\68";
}
.di-arr-top-r:before {
  content: "\69";
}
.di-blank:before {
  content: "\6a";
}
.di-bookmark:before {
  content: "\6b";
}
.di-bookmark-outline:before {
  content: "\6c";
}
.di-cart:before {
  content: "\6d";
}
.di-cart02:before {
  content: "\6e";
}
.di-cart03:before {
  content: "\6f";
}
.di-checked:before {
  content: "\70";
}
.di-date:before {
  content: "\71";
}
.di-date02:before {
  content: "\72";
}
.di-delete:before {
  content: "\73";
}
.di-delivery:before {
  content: "\74";
}
.di-download:before {
  content: "\75";
}
.di-download02:before {
  content: "\76";
}
.di-edit:before {
  content: "\77";
}
.di-error:before {
  content: "\78";
}
.di-error-outline:before {
  content: "\79";
}
.di-favorite:before {
  content: "\7a";
}
.di-favorite-outline:before {
  content: "\41";
}
.di-filter:before {
  content: "\42";
}
.di-home:before {
  content: "\43";
}
.di-legend:before {
  content: "\44";
}
.di-link:before {
  content: "\45";
}
.di-lock:before {
  content: "\46";
}
.di-login:before {
  content: "\47";
}
.di-logout:before {
  content: "\48";
}
.di-member:before {
  content: "\49";
}
.di-member-add:before {
  content: "\4a";
}
.di-menu:before {
  content: "\4b";
}
.di-menu02:before {
  content: "\4c";
}
.di-menu03:before {
  content: "\4d";
}
.di-menu04:before {
  content: "\4e";
}
.di-minus:before {
  content: "\4f";
}
.di-more-horiz:before {
  content: "\50";
}
.di-more-vertical:before {
  content: "\51";
}
.di-note:before {
  content: "\52";
}
.di-onoff:before {
  content: "\53";
}
.di-picture:before {
  content: "\54";
}
.di-pin:before {
  content: "\55";
}
.di-plus:before {
  content: "\56";
}
.di-print:before {
  content: "\57";
}
.di-radio-ck:before {
  content: "\58";
}
.di-radio-unck:before {
  content: "\59";
}
.di-refresh:before {
  content: "\5a";
}
.di-search:before {
  content: "\30";
}
.di-search02:before {
  content: "\31";
}
.di-search03:before {
  content: "\32";
}
.di-shape-bot:before {
  content: "\33";
}
.di-shape-left:before {
  content: "\34";
}
.di-shape-right:before {
  content: "\35";
}
.di-shape-top:before {
  content: "\36";
}
.di-share:before {
  content: "\37";
}
.di-share-outline:before {
  content: "\38";
}
.di-speech:before {
  content: "\39";
}
.di-speech02:before {
  content: "\21";
}
.di-time:before {
  content: "\22";
}
.di-time-back:before {
  content: "\23";
}
.di-unchecked:before {
  content: "\24";
}
.di-unlock:before {
  content: "\25";
}
.di-upload:before {
  content: "\26";
}
.di-upload02:before {
  content: "\27";
}
.di-blog:before {
  content: "\28";
}
.di-kakao02:before {
  content: "\29";
}
.di-kakao:before {
  content: "\2a";
}
.di-insta:before {
  content: "\2b";
}
.di-facebook03:before {
  content: "\2c";
}
.di-facebook02:before {
  content: "\2d";
}
.di-facebook:before {
  content: "\2e";
}
.di-youtube:before {
  content: "\2f";
}
.di-naver:before {
  content: "\3a";
}
