@charset "UTF-8";
@import url('/css/font.css');

/*reset*/
html,body {font-size:16px; font-family: 'Montserrat','Noto Sans KR',sans-serif; }
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,time,figure,article,nav,header,footer,hgroup,video,audio,aside,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,button,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	word-break: keep-all;
	font-style: inherit;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* font-family: 'Roboto','NS','맑은고딕', sans-serif; */
	font-weight: 400;
	letter-spacing:-0.05em;
	text-size-adjust: none;
	line-height: 1.6;
}
::placeholder {font-family: 'Roboto','NS','맑은고딕', sans-serif;}
br {visible:hidden; font-family: sans-serif;}
select::-ms-expand {display:none}
h1, h2, h3, h4 {font-weight:700;line-height: 1.5;font-family: 'NR';}
dl,ul,ol,menu,li{list-style:none}
table {border-collapse: collapse;border-spacing: 0;}
caption,th,td {text-align: left;font-weight: normal;}
figure,article,header,footer,nav,hgroup,video,audio,aside,main {display: block;}
img {max-width:100%;}
/* mobile */
/* input, textarea {-webkit-appearance: none;-webkit-border-radius: 0px;border-radius: 0px;} */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
img, table, thead, tfoot, fieldset, legend, iframe{border:none;}
label, input, button, textarea, select, img{vertical-align:middle;}
textarea{display:block;width:100%;height:100px;}
input, textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;/* -webkit-appearance:none; */-webkit-border-radius:0;border-radius:0;background:none;}
button{background-color:transparent;cursor:pointer;border:0;}
legend{position:absolute;width:0;height:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
hr{display:none;}
a {cursor:pointer}
a:link, a:visited{text-decoration:none;}

a:hover, a:focus, a:active{color:#433c94;}
body,a{color:#333;}
a:hover{color:inherit;text-decoration:none; outline:none}
table{border-collapse:collapse;border-spacing:0;}
table caption{height:0;font-size:0;line-height:0;overflow:hidden;}
table th{background-color:#f8f8f8;white-space:nowrap;vertical-align: middle;text-overflow:ellipsis;line-height:1.3em;}
table, th, thead, tfoot{outline:0;}

/*position*/
.fl{float:left}
.fr{float:right}
.fn{float:none}
.db{display:block}
.dt{display:table}
.di{display:inline}
.dn{display:none}
.dib{display:inline-block}
.ofh{overflow:hidden}
.ofa{overflow:auto}
.ofv{overflow:visible}
.ofs{overflow:scroll}
.overflows{overflow-y:auto;overflow-x:hidden}
.cl{clear:left}
.cr{clear:right}
.cb{clear:both}
.ps{position:static}
.pr{position:relative}
.pa{position:absolute}
.pf{position:fixed}
.tablef{table-layout:fixed}
.tal{text-align:left !important}
.tar{text-align:right !important}
.tac{text-align:center !important}
.vat{vertical-align:top !important}
.vam{vertical-align:middle !important}
.vab{vertical-align:bottom !important}

/*commend*/
.none {display:none;}
.clear:after {content:''; display:block; clear:both;}
.blind {position:absolute; width:1px; height:1px; margin:-1px; overflow:hidden; clip-path:polygon(0 0, 0 0, 0 0);}

.rbar{cursor:s-resize}
.curp{cursor:pointer}
.center{margin:0 auto}
.tlauto{display:table;margin-left:auto}
.trauto{display:table;margin-right:auto}
.tcauto{display:table;margin-left:auto;margin-right:auto}
.bold{font-weight:bold}
.wauto{width:auto !important}
.hauto{height:auto !important}
.wfull{width:100%}
.hfull{height:100%}
.whalf{width:50%}
.hhalf{height:50%}
.mp0{margin:0 !important;padding:0 !important}
.m0{margin:0 !important}
.p0{padding:0 !important}
.b0{border:0 !important}
.casket{float:left;display:block;_display:inline;overflow:hidden}
.normal{font-weight:normal !important}
.italic{font-style:italic !important}
.nowrap{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nolne {border:none !important}
.bl_nolne {border-left:none !important}
.bt_nolne {border-top:none !important}
.bt_nolne .first th,
.bt_nolne .first td {border-top:none !important}
.br_nolne {border-right:none !important}
.bb_nolne {border-bottom:none !important}
.bd{border:1px solid #ddd !important}
.bt{border-top:1px solid #ddd !important}
.br{border-right:1px solid #ddd !important}
.bb{border-bottom:1px solid #ddd !important}
.bl{border-left:1px solid #ddd !important}
.dot_line{border-bottom:1px dotted #cccccc !important}
.list0{background-color:#ffffff !important}
.list1{background-color:#f8f8f8 !important}
.list2{background-color:#f4f4f4 !important}
.lsnone{letter-spacing:0 !important}
.ls05{letter-spacing:-0.05em !important}

.lh1{line-height:1em !important}
.lh2{line-height:1.2em !important}
.lh3{line-height:1.3em !important}
.lh4{line-height:1.4em !important}
.lh5{line-height:1.5em !important}
.lh6{line-height:1.6em !important}

.fs11{font-size:11px !important}
.fs12{font-size:12px !important}
.fs13{font-size:13px !important}
.fs14{font-size:14px !important}
.fs18{font-size:18px !important}
.fs40{font-size:40px !important}
.f_bold {font-weight:bold;}

/*font color*/
.fc_wht{color:#ffffff !important}
.fc_blk{color:#000000 !important}
.fc_red{color:#ec0e03 !important}
.fc_084{color:#547eec !important}
.fc_107{color:#6b8f13 !important}
.fc_197{color:#197fe0 !important}
.fc_00f{color:#0000ff !important}
.fc_7d6{color:#7d62c3 !important}
.fc_255{color:#ff7200 !important}
.fc_eb7{color:#eb7c06 !important}
.fc_e06{color:#e06c04 !important}
.fc_214{color:#d6d6d6 !important}
.fc_125{color:#7d7d7d !important}
.fc_137{color:#898989 !important}
.fc_888{color:#888888 !important}
.fc_999{color:#999999 !important}
.fc_90{color:#f33e31 !important}

/*margin*/
.mt0	{margin-top:0px !important}
.mt1	{margin-top:1px !important}
.mt2	{margin-top:2px !important}
.mt3	{margin-top:3px !important}
.mt4	{margin-top:4px !important}
.mt5	{margin-top:5px !important}
.mt6	{margin-top:6px !important}
.mt7	{margin-top:7px !important}
.mt8	{margin-top:8px !important}
.mt9	{margin-top:9px !important}
.mt10	{margin-top:10px !important}
.mt11	{margin-top:11px !important}
.mt12	{margin-top:12px !important}
.mt13	{margin-top:13px !important}
.mt14	{margin-top:14px !important}
.mt15	{margin-top:15px !important}
.mt16	{margin-top:16px !important}
.mt17	{margin-top:17px !important}
.mt19	{margin-top:19px !important}
.mt20	{margin-top:20px !important}
.mt21	{margin-top:21px !important}
.mt22	{margin-top:22px !important}
.mt23	{margin-top:23px !important}
.mt24	{margin-top:24px !important}
.mt25	{margin-top:25px !important}
.mt26	{margin-top:26px !important}
.mt27	{margin-top:27px !important}
.mt28	{margin-top:28px !important}
.mt29	{margin-top:29px !important}
.mt30	{margin-top:30px !important}
.mt40	{margin-top:40px !important}
.mt50	{margin-top:50px !important}
.mt60	{margin-top:60px !important}
.mt65	{margin-top:65px !important}
.mt80	{margin-top:80px !important}

.mr1	{margin-right:1px !important}
.mr2	{margin-right:2px !important}
.mr3	{margin-right:3px !important}
.mr4	{margin-right:4px !important}
.mr5	{margin-right:5px !important}
.mr6	{margin-right:6px !important}
.mr7	{margin-right:7px !important}
.mr8	{margin-right:8px !important}
.mr9	{margin-right:9px !important}
.mr10	{margin-right:10px !important}
.mr11	{margin-right:11px !important}
.mr12	{margin-right:12px !important}
.mr13	{margin-right:13px !important}
.mr14	{margin-right:14px !important}
.mr15	{margin-right:15px !important}
.mr20	{margin-right:20px !important}
.mr30	{margin-right:30px !important}
.mr35	{margin-right:35px !important}
.mr40	{margin-right:40px !important}
.mr50	{margin-right:50px !important}

.mb0	{margin-bottom:0px !important}
.mb1	{margin-bottom:1px !important}
.mb2	{margin-bottom:2px !important}
.mb3	{margin-bottom:3px !important}
.mb4	{margin-bottom:4px !important}
.mb5	{margin-bottom:5px !important}
.mb6	{margin-bottom:6px !important}
.mb7	{margin-bottom:7px !important}
.mb8	{margin-bottom:8px !important}
.mb9	{margin-bottom:9px !important}
.mb10	{margin-bottom:10px !important}
.mb11	{margin-bottom:11px !important}
.mb12	{margin-bottom:12px !important}
.mb13	{margin-bottom:13px !important}
.mb14	{margin-bottom:14px !important}
.mb15	{margin-bottom:15px !important}
.mb20	{margin-bottom:20px !important}
.mb25	{margin-bottom:25px !important}
.mb30	{margin-bottom:30px !important}
.mb40	{margin-bottom:40px !important}
.mb50	{margin-bottom:50px !important}
.mb60	{margin-bottom:60px !important}
.mb99	{margin-bottom:99px !important}
.mb200 {margin-bottom:200px !important}

.ml0	{margin-left:0 !important}
.ml1	{margin-left:1px !important}
.ml2	{margin-left:2px !important}
.ml3	{margin-left:3px !important}
.ml4	{margin-left:4px !important}
.ml5	{margin-left:5px !important}
.ml6	{margin-left:6px !important}
.ml7	{margin-left:7px !important}
.ml8	{margin-left:8px !important}
.ml9	{margin-left:9px !important}
.ml10	{margin-left:10px !important}
.ml11	{margin-left:11px !important}
.ml12	{margin-left:12px !important}
.ml13	{margin-left:13px !important}
.ml14	{margin-left:14px !important}
.ml15	{margin-left:15px !important}
.ml16	{margin-left:16px !important}
.ml17	{margin-left:17px !important}
.ml18	{margin-left:18px !important}
.ml19	{margin-left:19px !important}
.ml20	{margin-left:20px !important}
.ml25	{margin-left:25px !important}
.ml30	{margin-left:30px !important}

/*padding*/
.pd20  {padding:20px !important}

.pt1	{padding-top:1px !important}
.pt2	{padding-top:2px !important}
.pt3	{padding-top:3px !important}
.pt4	{padding-top:4px !important}
.pt5	{padding-top:5px !important}
.pt6	{padding-top:6px !important}
.pt7	{padding-top:7px !important}
.pt8	{padding-top:8px !important}
.pt9	{padding-top:9px !important}
.pt10	{padding-top:10px !important}
.pt11	{padding-top:11px !important}
.pt12	{padding-top:12px !important}
.pt13	{padding-top:13px !important}
.pt14	{padding-top:14px !important}
.pt15	{padding-top:15px !important}
.pt18	{padding-top:18px !important}
.pt20	{padding-top:20px !important}
.pt22	{padding-top:22px !important}
.pt25	{padding-top:25px !important}
.pt30	{padding-top:30px !important}
.pt31	{padding-top:31px !important}
.pt33	{padding-top:33px !important}
.pt45	{padding-top:45px !important}
.pt100 {padding-top:100px !important}
.pt150 {padding-top:150px !important}
.pt170 {padding-top:170px !important}
.pt185 {padding-top:185px !important}

.pr1	{padding-right:1px !important}
.pr2	{padding-right:2px !important}
.pr3	{padding-right:3px !important}
.pr4	{padding-right:4px !important}
.pr5	{padding-right:5px !important}
.pr6	{padding-right:6px !important}
.pr7	{padding-right:7px !important}
.pr8	{padding-right:8px !important}
.pr9	{padding-right:9px !important}
.pr10	{padding-right:10px !important}
.pr15	{padding-right:15px !important}
.pr20	{padding-right:20px !important}
.pr40	{padding-right:40px !important}

.pb	{padding-bottom:1px !important}
.pb2	{padding-bottom:2px !important}
.pb3	{padding-bottom:3px !important}
.pb4	{padding-bottom:4px !important}
.pb5	{padding-bottom:5px !important}
.pb6	{padding-bottom:6px !important}
.pb7	{padding-bottom:7px !important}
.pb8	{padding-bottom:8px !important}
.pb9	{padding-bottom:9px !important}
.pb0	{padding-bottom:10px !important}
.pb5	{padding-bottom:15px !important}
.pb20	{padding-bottom:20px !important}
.pb30	{padding-bottom:30px !important}
.pb50	{padding-bottom:50px !important}
.pb60	{padding-bottom:60px !important}

.pl0	{padding-left:0 !important}
.pl1	{padding-left:1px !important}
.pl2	{padding-left:2px !important}
.pl3	{padding-left:3px !important}
.pl4	{padding-left:4px !important}
.pl5	{padding-left:5px !important}
.pl6	{padding-left:6px !important}
.pl7	{padding-left:7px !important}
.pl8	{padding-left:8px !important}
.pl9	{padding-left:9px !important}
.pl10	{padding-left:10px !important}
.pl11	{padding-left:11px !important}
.pl12	{padding-left:12px !important}
.pl13	{padding-left:13px !important}
.pl14	{padding-left:14px !important}
.pl15	{padding-left:15px !important}
.pl20	{padding-left:20px !important}
.pl23	{padding-left:23px !important}
.pl27	{padding-left:27px !important}
.pl29	{padding-left:29px !important}
.pl30	{padding-left:30px !important}

/*width size*/
.w10 {width:10px !important}
.w20 {width:20px !important}
.w30 {width:30px !important}
.w35 {width:35px !important}
.w40 {width:40px !important}
.w50 {width:50px !important}
.w60 {width:60px !important}
.w70 {width:70px !important}
.w80 {width:80px !important}
.w90 {width:90px !important}
.w100 {width:100px !important}
.w110 {width:110px !important}
.w120 {width:120px !important}
.w130 {width:130px !important}
.w140 {width:140px !important}
.w150 {width:150px !important}
.w160 {width:160px !important}
.w170 {width:170px !important}
.w180 {width:180px !important}
.w190 {width:190px !important}
.w200 {width:200px !important}
.w300 {width:300px !important}
.w400 {width:400px !important}
.w964 {width:964px !important}

.w10p{width:10% !important}
.w20p{width:20% !important}
.w30p{width:30% !important}
.w40p{width:40% !important}
.w50p{width:50% !important}
.w60p{width:60% !important}
.w70p{width:70% !important}
.w80p{width:80% !important}
.w90p{width:90% !important}

.h60  {height:60px !important}
.h100 {height:100px !important}
.h200 {height:200px !important}
.h300 {height:300px !important}

@media screen and (max-width:991px){
	html,body {font-size:14px;}
}

